html,body {
    font-size: map-get($font-size, 'md');
    line-height: map-get($line-height, 'md');
    font-weight: $font-weight-base;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;

    &.hidden{
        overflow: hidden;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden{
    overflow: hidden;
}

p {
    font-size: 1rem;
    letter-spacing: -0.41px;
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;

    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
    padding: 0;
    padding-left: 1em;
    margin-bottom: $paragraph-margin-bottom;

    &:last-child{
        margin-bottom: 0;
    }
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;

    color: $link-color;

    &:hover {
        color: $link-hover-color;
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
table{
    td{
        padding: 8px 15px;
    }
}

.p-relative {position: relative;}
.p-sticky   {position: sticky; top: 0; left: 0; z-index: 101;}
.p-absolute {position: absolute; top: 0; left: 0; z-index: 101;}

.text-uppercase{text-transform: uppercase;}
.text-underline{text-decoration: underline;}

.text-bolder        {font-weight: $font-weight-bolder;}
.text-bold,strong,b {font-weight: $font-weight-bold;}

.text-small,small,.small    {font-size: 0.85rem;}
.text-smaller               {font-size: 0.9rem;}
.text-lead,.lead            {font-size: 1.15rem;}

.text-spacing{letter-spacing: $letter-spacing;}

.text{
    &-right{text-align: right;}
    &-center{text-align: center;}
    &-left{text-align: left;}
}

.img-fluid{
    display: block;
    height: auto;
    max-width: 100%;
}
