.btn{
    display: inline-block;

    text-align: center;
    font-weight: $font-weight-bolder;
    line-height: 22px;

    border-radius: 10px;
    border: 1px solid;

    padding: 12px 20px 12px 20px;
    outline: unset;

    transition: $transition-base;

    &:hover, &:focus{
        text-decoration: none;
    }

    &--full{
        width: 100%;
    }
}