.form{
    &__title{
        margin-top: 24px;
        margin-bottom: map-get($map: $spacers, $key: 2);

        &:first-child{
            margin-top: 0px;
        }
    }
    &__row{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 2);
        
        margin-bottom: map-get($map: $spacers, $key: 1);

        &_1-col{
            grid-template-columns: 1fr;
        }
        &_2-col{
            grid-template-columns: repeat(2, 1fr);
        }
        &_3-col{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &__input-parent{
        position: relative;
    }
    &__input-child{
        padding-right: 48px;
    }
    &__input-size{
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);

        font-size: map-get($map: $font-size, $key: xs);
        color: $text-secondary-1;

        max-width: 48px;
        overflow: hidden;
    }
    &__notification{
        font-size: map-get($map: $font-size, $key: xs);
        line-height: map-get($map: $line-height, $key: xs);
        padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
        
        &_error{
            color: $red;
        }
    }
    &__selected-tags{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        margin-left: -( map-get($map: $spacers, $key: 1) );
        margin-right: -( map-get($map: $spacers, $key: 1) );
    }
    &__btns{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 2);
        grid-template-columns: auto auto;

        justify-content: flex-end;

        margin-top: 24px;

        &_single{
            grid-template-columns: auto;
        }
    }
}