extends ../blocks/main.pug

block variables
    - var pageTitle = "Nora Care"
block content
    .content 
        .content__col
            .sidebar.sidebar_welcome-screen
                img.sidebar__logo.sidebar__logo_sign(src="./img/logo-sign.png")
                .sidebar__intro
                    h1.h1 Patient history intake form
                    p Welcome to NoraCare. Here you can fill patient information
                a.btn.btn_primary(href="step-1.html") Get started
        .content__col.content__welcome-screen
block footer