extends ../blocks/main.pug

block variables
    - var pageTitle = "Nora Care"
block content
    .content 
        .content__col
            .sidebar.sidebar_content
                img.sidebar__logo.sidebar__logo_full(src="./img/logo-full.png")
                .sidebar__content.sidebar__content_w-steps
                    .sidebar__intro
                        h1.h2 Filled 1 of 6
                        p.sidebar__intro-text Nice to meet you, John Jameson! You are filled part 1 of our question’s list
                    .steps
                        .steps__item.steps__item--filled
                            .steps__item-num.steps__item-num--filled 1
                            .steps__item-name Basic information
                        .steps__item.steps__item--active
                            .steps__item-num.steps__item-num--active 2
                            .steps__item-name Legal Info
                        .steps__item
                            .steps__item-num 3
                            .steps__item-name Accident Info
                        .steps__item
                            .steps__item-num 4
                            .steps__item-name History of present illness
                        .steps__item
                            .steps__item-num 5
                            .steps__item-name Medical history
                        .steps__item
                            .steps__item-num 6
                            .steps__item-name Past surgical history
        .content__col
            .content__block.content__block--full
                .form 
                    p.h3.form__title Patient's insurance
                    .form__row.form__row_3-col 
                        .form__group
                            label.label(for="name_insurane") Company name:
                            input.input.input--full(type="text")
                        .form__group
                            label.label(for="policy_insurane") Policy#
                            input.input.input--full(type="text")
                        .form__group
                            label.label(for="claim_insurane") Claim#
                            input.input.input--full(type="text")
                    .form__row.form__row_1-col 
                        .form__group
                            label.label(for="holder_insurane") Policy holder:
                            input.input.input--full(type="text")
                    p.h3.form__title Adjuster
                    .form__row.form__row_2-col 
                        .form__group
                            label.label(for="name_adjuster") Full name:
                            input.input.input--full(type="text")
                        .form__group
                            label.label(for="phone_adjuster") Contact phone:
                            input.input.input--full(type="text")
                    p.h3.form__title Attorney
                    .form__row.form__row_3-col 
                        .form__group
                            label.label(for="name_attorney") Full name:
                            input.input.input--full(type="text")
                        .form__group
                            label.label(for="phone_attorney") Contact phone:
                            input.input.input--full(type="text")
                        .form__group
                            label.label(for="fax_attorney") Fax:
                            input.input.input--full(type="text")
                    .form__row.form__row_1-col 
                        .form__group
                            label.label(for="address_attorney") Address:
                            textarea.textarea.textarea--full(rows="2")
                    .form__btns 
                        a.btn.btn_secondary(href="step-1.html") Previous step
                        a.btn.btn_primary(href="step-3.html") Next step
                    