extends ../blocks/main.pug

block variables
    - var pageTitle = "Nora Care"
block content
    .content 
        .content__col
            .sidebar.sidebar_content
                img.sidebar__logo.sidebar__logo_full(src="./img/logo-full.png")
                .sidebar__content.sidebar__content_w-steps
                    .sidebar__intro
                        h1.h2 Filled 2 of 6
                        p.sidebar__intro-text Nice to meet you, John Jameson! You are filled part 1-2 of our question’s list
                    .steps
                        .steps__item.steps__item--filled
                            .steps__item-num.steps__item-num--filled 1
                            .steps__item-name Basic information
                        .steps__item.steps__item--filled
                            .steps__item-num.steps__item-num--filled 2
                            .steps__item-name Legal Info
                        .steps__item.steps__item--active
                            .steps__item-num.steps__item-num--active 3
                            .steps__item-name Accident Info
                        .steps__item
                            .steps__item-num 4
                            .steps__item-name History of present illness
                        .steps__item
                            .steps__item-num 5
                            .steps__item-name Medical history
                        .steps__item
                            .steps__item-num 6
                            .steps__item-name Past surgical history
        .content__col
            .content__block.content__block--full
                .form 
                    p.h3.form__title Accident Info
                    .form__row.form__row_2-col
                        .form__group
                            label.label(for="date") Date of Accident:
                            input.input.input--full.input_date(type="date" placeholder="06-10-2022")
                        .form__group
                            label.label(for="time") Time of Accident:
                            input.input.input--full.input_date(type="time" placeholder="")
                    .form__row.form__row_1-col
                        .form__group
                            label.label(for="gender") Type of Accident:
                            .form__row.form__row_3-col.form__row_inside
                                .form__group
                                    label.radio.radio--full(for="nf")
                                        input.radio__input(type="radio" name="accident" id="nf" checked)
                                        span.radio__label 
                                            span.radio__label-inside NF
                                .form__group
                                    label.radio.radio--full(for="wc")
                                        input.radio__input(type="radio" name="accident" id="wc" )
                                        span.radio__label 
                                            span.radio__label-inside WC
                                .form__group
                                    label.radio.radio--full(for="lien")
                                        input.radio__input(type="radio" name="accident" id="lien")
                                        span.radio__label 
                                            span.radio__label-inside LIEN
                    .form__row.form__row_1-col
                        .form__group
                            label.label(for="address_accident") Place of accident:
                            textarea.textarea.textarea--full(rows="2")
                    .form__btns 
                        a.btn.btn_secondary(href="step-2.html") Previous step
                        a.btn.btn_primary(href="step-4.html") Next step
block footer