extends ../blocks/main.pug

block variables
    - var pageTitle = "Nora Care"
block content
    .content 
        .content__col
            .sidebar.sidebar_content
                img.sidebar__logo.sidebar__logo_full(src="./img/logo-full.png")
                .sidebar__intro
                    h1.h2 50% filled
                    p Nice to meet you, John Jameson! You are filled part 1 of our question’s list
                    .steps
                        .steps__item.steps__item--filled
                            .steps__item-num.steps__item-num--filled 1
                            .steps__item-name Basic information
                        .steps__item.steps__item--filled
                            .steps__item-num.steps__item-num--filled 2
                            .steps__item-name History of present illness
                        .steps__item.steps__item--active
                            .steps__item-num.steps__item-num--active 3
                            .steps__item-name Medical history
                        .steps__item
                            .steps__item-num 4
                            .steps__item-name Past surgical history
        .content__col
            .content__block.content__block--full
                .form 
                    p.h3.form__title Medical history 
                    .form__row.form__row_1-col
                        .form__group
                            .label Do you have any medical conditions?
                            .form__row.form__row_2-col
                                .form__group
                                    label.radio.radio--full(for="noC")
                                        input.radio__input(type="radio" name="conditions" id="noC" checked)
                                        span.radio__label 
                                            span.radio__label-inside No
                                .form__group
                                    label.radio.radio--full(for="yesC")
                                        input.radio__input(type="radio" name="conditions" id="yesC" )
                                        span.radio__label 
                                            span.radio__label-inside Yes
                    .form__row.form__row_1-col
                        .form__group
                            .label Are you currently taking any medications, including pain medications?
                            .form__row.form__row_2-col
                                .form__group
                                    label.radio.radio--full(for="noM")
                                        input.radio__input(type="radio" name="medications" id="noM" checked)
                                        span.radio__label 
                                            span.radio__label-inside No
                                .form__group
                                    label.radio.radio--full(for="yesM")
                                        input.radio__input(type="radio" name="medications" id="yesM" )
                                        span.radio__label 
                                            span.radio__label-inside Yes
                    .form__btns 
                        a.btn.btn_secondary(href="step-2.html") Previous step
                        a.btn.btn_primary(href="step-4.html") Next step
block footer