extends ../blocks/main.pug

block variables
    - var pageTitle = "Nora Care"
block content
    .content 
        .content__col.content__col-sidebar
            .sidebar.sidebar_content
                img.sidebar__logo.sidebar__logo_full(src="./img/logo-full.png")
                .sidebar__content.sidebar__content_w-steps
                    .sidebar__intro
                        h1.h2 Hi, Customer!
                        p Lorem ipsum dolor sit amet,  sectetur adipiscing elit
                    .steps
                        .steps__item.steps__item--active
                            .steps__item-num.steps__item-num--active 1
                            .steps__item-name Basic Info
                        .steps__item
                            .steps__item-num 2
                            .steps__item-name Legal Info
                        .steps__item
                            .steps__item-num 3
                            .steps__item-name Accident Info
                        .steps__item
                            .steps__item-num 4
                            .steps__item-name History of present illness
                        .steps__item
                            .steps__item-num 5
                            .steps__item-name Medical history
                        .steps__item
                            .steps__item-num 6
                            .steps__item-name Past surgical history
            .sidebar
                p Today’s date
                input.input.input--full.input_date(type="date" placeholder="06-10-2022")
        .content__col
            .content__block.content__block--full
                .form 
                    p.h3.form__title Patient's personal data
                    .form__row.form__row_2-col
                        .form__group
                            label.label(for="name") Full Name:
                            input.input.input--full(type="text" value="John Jameson")
                        .form__group
                            label.label(for="date") Date of Birth:
                            input.input.input--full.input_date(type="date" placeholder="06-10-2022" value="23-02-1989")
                    .form__row.form__row_1-col
                        .form__group
                            label.label(for="ssn") Social Security Number:
                            input.input.input--full(type="text" value="123-45-6789")
                    .form__row.form__row_2-col
                        .form__group
                            label.label(for="home_phone") Home Phone:
                            input.input.input--full(type="text" value="(555) 555-1234")
                        .form__group
                            label.label(for="cell_phone") Cell Phone:
                            input.input.input--full(type="text" value="(555) 555-1234")
                    .form__row.form__row_1-col
                        .form__group
                            .label Gender:
                            .form__row.form__row_3-col
                                .form__group
                                    label.radio.radio--full(for="male")
                                        input.radio__input(type="radio" name="gender" id="male" checked)
                                        span.radio__label 
                                            span.radio__label-inside Male
                                .form__group
                                    label.radio.radio--full(for="female")
                                        input.radio__input(type="radio" name="gender" id="female" )
                                        span.radio__label 
                                            span.radio__label-inside Female
                                .form__group
                                    label.radio.radio--full(for="other")
                                        input.radio__input(type="radio" name="gender" id="other")
                                        span.radio__label 
                                            span.radio__label-inside Other
                    .form__row.form__row_2-col
                        .form__group
                            label.label(for="height") Height:
                            .form__input-group
                                .form__group
                                    .form__input-parent
                                        input.input.input--full.input--error(type="text" data-mask="height")
                                        span.form__input-size ft
                                    .form__notification.form__notification_error Required field
                                .form__group
                                    .form__input-parent
                                        input.input.input--full(type="text" data-mask="height")
                                        span.form__input-size in
                        .form__group
                            label.label(for="weight") Weight:
                            .form__input-parent
                                input.input.input--full.form__input-child(type="text" data-mask="number" value="158")
                                span.form__input-size lbs
                    p.h3.form__title Patient's address
                    .form__row.form__row_2-col
                        .form__group
                            label.label(for="street") Street:
                            input.input.input--full(type="text" value="495 Grove St.")
                        .form__group
                            label.label(for="unit") Apartment or unit:
                            input.input.input--full(type="text" value="Apart. #20")
                        .form__group
                            label.label(for="city") City:
                            input.input.input--full(type="text" value="New  York")
                        .form__group
                            label.label(for="zip") State, State Zip code:
                            input.input.input--full.input--error(type="text")
                            .form__notification.form__notification_error Required field
                    p.h3.form__title Emergency contact
                    .form__row.form__row_1-col
                        .form__group
                            label.label(for="name_contact") Full Name:
                            input.input.input--full(type="text" value="Jane Clark")
                    .form__row.form__row_2-col
                        .form__group
                            label.label(for="relationship") Relationship:
                            input.input.input--full(type="text" value="wife")
                        .form__group
                            label.label(for="cell_phone_contact") Cell phone:
                            input.input.input--full(type="text" value="(555) 555-1234")
                    //- .form__btns.form__btns_single
                    //-     a.btn.btn_primary(href="step-2.html") Next step
            .content__step-btns.content__step-btns_single
                a.btn.btn_primary(href="step-2.html") Next step
block footer