.input{
    border-radius: 12px;
    padding: 14px 16px;
    outline: none;
    border: 1px solid $input;
    background-color: $input;
    color: $text-dark;

    &::placeholder{
        color: $text-secondary-1;
    }

    &:focus{
        border-color: $text-secondary-2;
    }
    
    &--full{
        width: 100%;
    }
}