.input{
    padding: 13px 16px;

    border-radius: 12px;
    border: 1px solid $input;

    background-color: $input;
    color: $text-dark;
    outline: none;

    font-size: map-get($map: $font-size, $key: sm);
    line-height: 20px;
    max-height: 48px;

    &::placeholder{
        color: $text-secondary-1;
    }

    &:focus{
        border-color: $text-secondary-2;
    }

    &--full{
        width: 100%;
    }
}